.user-container{
    display: flex;
    margin: 5px 0;
}.user-name{
    width: 100px;
    padding: 10px 30px;
    background-color: aquamarine;
}button{
    width: 100px;
    margin: 0 10px;
}